<div class="client-testimonials">
    <div class="title">Client Testimonials</div>
    <div class="subtitle">What they say</div>
    <div class="clients-list">
        <div class="client active-client">
            <img src="https://demo.posthemes.com/pos_corano/img/postestimonial/sample1.png" />
        </div>
        <div class="client">
            <img src="https://demo.posthemes.com/pos_corano/img/postestimonial/sample2.png" />
        </div>
        <div class="client">
            <img src="https://demo.posthemes.com/pos_corano/img/postestimonial/sample3.png" />
        </div>
    </div>
    <div class="testimony">
        All Perfect !! I have three sites with magento , this theme is the best !! Excellent support , advice theme installation package , sorry for English, are Italian but I had no problem !! Thank you !
    </div>
    <div class="client-email">
        demo&commat;demomail.com
    </div>
    <div class="client-name">
        Demo Client
    </div>
</div>