div.search-bar {
    width: 100%;
    height: 100%;
    background-color: #f7f7f7;
    display: flex;
    overflow: hidden;
}

div.search-icon, div.close-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

div.search-input-wrapper {
    flex: 1;
    box-sizing: border-box;
    display: flex;
    align-items: center;
}

input.search-input {
    width: 100%;
    height: 100%;
    border: none;
    background-color: transparent;
    outline: none;
    font-size: 14px;
    box-sizing: border-box;
}

div.show-flex {
    display: flex;
}

div.hide {
    display: none;
}