<div class="carousel-wrapper">
    <div class="carousel">
        <div class="carousel-content-wrapper">
            <div class="carousel-content">
                <div class="carousel-title">Grace Designer Jewellery</div>
                <div class="carousel-subtitle">Rings, Occasion Pieces, Pandora & More.</div>
                <div class="carousel-button-wrapper">
                    <div class="carousel-button" (click)="navigationService.navigatorSubject.next('/products')">
                        SHOP NOW
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>